<ion-view view-title="Settings">
  <ion-content>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Street Address:</span>
      <input type="text" placeholder="123 Jones St.">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Zip Code</span>
      <input type="text" placeholder="37212">
    </label>
    <button class="button button-block button-positive">
      Set Home Address
    </button>
  </ion-content>
</ion-view>


