<ion-view view-title="Address Search">
  <ion-content>
    <div class="list">
      <label class='item item-input item-stacked-label'>
      <i class="icon ion-search placeholder-icon"></i>
      <span class='input-label'>Search for a street address...</span>

      <input type="search" placeholder="123 Jones Ave.">
      </label>
<!--       <button class="button button-block button-balanced">Search</button> -->
    </div>
    <div class="item item-button-right">
      Results are here.
      <button class="button button-light">
        <i class="icon ion-heart"></i>
      </button>
    </div>
  </ion-content>
</ion-view>
